@font-face {
  font-family: 'BigJohn';
  src: url("../fonts/big_john-webfont.eot");
  src: url("../fonts/big_john-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/big_john-webfont.woff") format("woff"), url("../fonts/big_john-webfont.ttf") format("truetype"), url("../fonts/big_john-webfont.svg#big_johnregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SlimJoe';
  src: url("../fonts/slim_joe-webfont.eot");
  src: url("../fonts/slim_joe-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/slim_joe-webfont.woff") format("woff"), url("../fonts/slim_joe-webfont.ttf") format("truetype"), url("../fonts/slim_joe-webfont.svg#slim_joeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmbleBold';
  src: url("../fonts/amble-bold-webfont.eot");
  src: url("../fonts/amble-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/amble-bold-webfont.woff") format("woff"), url("../fonts/amble-bold-webfont.ttf") format("truetype"), url("../fonts/amble-bold-webfont.svg#amblebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmbleLight';
  src: url("../fonts/amble-light-webfont.eot");
  src: url("../fonts/amble-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/amble-light-webfont.woff") format("woff"), url("../fonts/amble-light-webfont.ttf") format("truetype"), url("../fonts/amble-light-webfont.svg#amblelight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AmbleRegular';
  src: url("../fonts/amble-regular-webfont.eot");
  src: url("../fonts/amble-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/amble-regular-webfont.woff") format("woff"), url("../fonts/amble-regular-webfont.ttf") format("truetype"), url("../fonts/amble-regular-webfont.svg#ambleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/_general.scss */
.container {
  padding: 0 !important;
}

/* line 4, ../sass/_general.scss */
nav {
  font-size: 0;
}
/* line 6, ../sass/_general.scss */
nav ul {
  margin: 0;
  display: table;
}
/* line 10, ../sass/_general.scss */
nav li {
  display: inline-block;
}
/* line 13, ../sass/_general.scss */
nav a {
  display: block;
}

/* line 2, ../sass/_header.scss */
header {
  position: relative;
  padding-bottom: 390px;
  background: url("../img/header-bg-1.png") center top no-repeat, url("../img/header-bg-2.png") center top no-repeat, url("../img/header-bg-3.png") center top no-repeat;
}
/* line 8, ../sass/_header.scss */
header .main-menu {
  margin-bottom: 240px;
}
/* line 10, ../sass/_header.scss */
header .main-menu_btn {
  color: #fff;
  font-size: 24px;
  position: absolute;
  top: 60px;
  left: 50px;
  z-index: 1;
  cursor: pointer;
}
/* line 18, ../sass/_header.scss */
header .main-menu_btn:active i {
  transform: scale(0.9);
}
/* line 21, ../sass/_header.scss */
header .main-menu_btn[data-toggle="active"] {
  color: #d9a884;
}
/* line 25, ../sass/_header.scss */
header .main-menu_nav {
  position: relative;
  left: 80px;
  top: 66px;
  transition: opacity, left, .3s;
  z-index: 0;
}
/* line 32, ../sass/_header.scss */
header .main-menu .nav-hidden {
  opacity: 0;
  left: 70px;
  transition: opacity, left, .7s;
}
/* line 37, ../sass/_header.scss */
header .main-menu li {
  font-size: 14px;
  margin-right: 5px;
}
/* line 40, ../sass/_header.scss */
header .main-menu li a {
  padding: 0 10px;
  color: #e28843;
  background: #fff;
  border-radius: 3px;
}
/* line 46, ../sass/_header.scss */
header .main-menu li a:hover,
header .main-menu li a:focus {
  text-decoration: none;
  transform: scale(0.93);
  transition: transform, .2s;
}
/* line 54, ../sass/_header.scss */
header .header-description {
  text-align: center;
  color: #fffefe;
  font-size: 22px;
  font-family: 'AmbleRegular', sans-serif;
  margin: 0 auto;
  width: 50%;
}
/* line 62, ../sass/_header.scss */
header h1 {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 45px;
  padding-bottom: 50px;
  font-size: 48px;
  text-align: center;
  font-family: 'BigJohn', sans-serif;
  position: relative;
}
/* line 71, ../sass/_header.scss */
header h1:after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  left: 45%;
  bottom: 0;
  width: 86px;
  background: #fff;
}

/* line 4, ../sass/_sections.scss */
section .section-btn {
  font-family: "AmbleBold", sans-serif;
  background: transparent;
  text-align: center;
  margin: 0 auto;
  border: 3px solid;
  transition: padding, .2s;
}
/* line 11, ../sass/_sections.scss */
section .section-btn:hover {
  transition: padding, .3s;
}

/* line 17, ../sass/_sections.scss */
section.light-section {
  padding: 120px 0;
  background: #fff;
}
/* line 20, ../sass/_sections.scss */
section.light-section.gray-section {
  background: #f4f4f4;
}
/* line 22, ../sass/_sections.scss */
section.light-section.gray-section ul {
  display: block;
}
/* line 25, ../sass/_sections.scss */
section.light-section.gray-section li {
  padding: 0 20px;
  width: 20%;
  margin: 0;
  font-size: 36px;
}
/* line 31, ../sass/_sections.scss */
section.light-section.gray-section a {
  width: 100%;
  height: 50px;
  background: url("../img/clients.png") no-repeat;
}
/* line 35, ../sass/_sections.scss */
section.light-section.gray-section a.ggl {
  background-position: 0px 0px;
}
/* line 38, ../sass/_sections.scss */
section.light-section.gray-section a.sams {
  background-position: -240px 0px;
}
/* line 41, ../sass/_sections.scss */
section.light-section.gray-section a.flick {
  background-position: -475px 0px;
}
/* line 44, ../sass/_sections.scss */
section.light-section.gray-section a.frsq {
  background-position: -718px 0px;
}
/* line 47, ../sass/_sections.scss */
section.light-section.gray-section a.pint {
  background-position: -988px 0px;
}
/* line 52, ../sass/_sections.scss */
section.light-section h2 {
  font-size: 30px;
  font-family: "BigJohn", sans-serif;
  position: relative;
  margin: 0 0 70px;
  text-align: center;
  color: #222;
  text-transform: uppercase;
  padding-bottom: 70px;
}
/* line 61, ../sass/_sections.scss */
section.light-section h2:after {
  display: block;
  content: "";
  width: 86px;
  height: 2px;
  position: absolute;
  left: 46%;
  bottom: 0;
  background: #222;
}
/* line 72, ../sass/_sections.scss */
section.light-section nav {
  margin: 0 0 85px;
}
/* line 74, ../sass/_sections.scss */
section.light-section nav ul {
  margin: 0 auto;
}
/* line 77, ../sass/_sections.scss */
section.light-section nav li {
  margin-right: 30px;
}
/* line 79, ../sass/_sections.scss */
section.light-section nav li li:last-child {
  margin-right: 0;
}
/* line 83, ../sass/_sections.scss */
section.light-section nav button {
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: "SlimJoe", sans-serif;
  font-weight: 300;
  padding: 0 5px;
  color: #222;
  text-transform: uppercase;
}
/* line 93, ../sass/_sections.scss */
section.light-section nav button:hover,
section.light-section nav button:focus,
section.light-section nav button.active-button {
  outline: none;
  text-decoration: none;
  font-weight: bold;
}
/* line 101, ../sass/_sections.scss */
section.light-section .section-description {
  font-size: 22px;
  text-align: center;
  color: #222;
  font-family: "AmbleLight", sans-serif;
  margin: 0 auto;
  width: 55%;
}

/* line 111, ../sass/_sections.scss */
section.dark-section {
  text-align: center;
  padding: 200px 0;
}
/* line 114, ../sass/_sections.scss */
section.dark-section .section-btn {
  position: relative;
  z-index: 10;
  font-size: 30px;
  color: #fff;
  line-height: 90px;
  padding: 0 80px;
  border-color: #fff;
}
/* line 122, ../sass/_sections.scss */
section.dark-section .section-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  padding: 0 70px;
}
/* line 127, ../sass/_sections.scss */
section.dark-section.video-section {
  padding: 0;
}
/* line 129, ../sass/_sections.scss */
section.dark-section.video-section iframe {
  width: 100%;
}
/* line 133, ../sass/_sections.scss */
section.dark-section.section-2, section.dark-section.section-4, section.dark-section.section-9 {
  position: relative;
}
/* line 137, ../sass/_sections.scss */
section.dark-section.section-2:after, section.dark-section.section-4:after, section.dark-section.section-9:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.6);
  z-index: 2;
}
/* line 149, ../sass/_sections.scss */
section.dark-section.section-2 {
  background: url("../img/section-bg-2.png") center center no-repeat;
}
/* line 152, ../sass/_sections.scss */
section.dark-section.section-4 {
  background: url("../img/section-bg-4.png") center center no-repeat;
}
/* line 155, ../sass/_sections.scss */
section.dark-section.section-9 {
  background: url("../img/section-bg-9.png") center center no-repeat;
}

/* line 4, ../sass/_portfolio.scss */
.portfolio_row-1 {
  margin: 0 0 20px;
}
/* line 7, ../sass/_portfolio.scss */
.portfolio_row-2 {
  margin: 0 0 75px;
}
/* line 10, ../sass/_portfolio.scss */
.portfolio_preview {
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: opacity, .2s;
}
/* line 11, ../sass/_portfolio.scss */
.portfolio_preview img {
  width: 100%;
}
/* line 18, ../sass/_portfolio.scss */
.portfolio_preview-hover {
  padding: 40% 0 0;
  position: absolute;
  top: 0;
  width: 92.5%;
  border: 8px solid #000;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  opacity: 1;
  transition: opacity, .2s;
}
/* line 28, ../sass/_portfolio.scss */
.portfolio_preview-hover .title,
.portfolio_preview-hover .description {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
/* line 34, ../sass/_portfolio.scss */
.portfolio_preview-hover .title {
  font-size: 18px;
  font-family: "BigJohn", sans-serif;
  margin-bottom: 25px;
}
/* line 39, ../sass/_portfolio.scss */
.portfolio_preview-hover .description {
  position: relative;
  padding: 0 0 30px;
  font-size: 24px;
  font-family: "AmbleRegular", sans-serif;
}
/* line 45, ../sass/_portfolio.scss */
.portfolio_preview-hover .description:after {
  content: "";
  display: block;
  position: absolute;
  left: 43%;
  bottom: 0;
  width: 48px;
  height: 2px;
  background: #d87843;
}
/* line 57, ../sass/_portfolio.scss */
.portfolio .preview-hidden {
  opacity: .5;
  transition: opacity, .5s;
}
/* line 61, ../sass/_portfolio.scss */
.portfolio .hover-hidden {
  opacity: 0;
  transition: opacity, .4s;
}
/* line 65, ../sass/_portfolio.scss */
.portfolio_btn {
  font-size: 24px;
  padding: 0 100px;
  line-height: 52px;
}
/* line 69, ../sass/_portfolio.scss */
.portfolio_btn:hover, .portfolio_btn:active {
  padding: 0 90px;
  background: rgba(34, 34, 34, 0.1);
}

/* line 4, ../sass/_about-us.scss */
section.about-us .section-description {
  margin-bottom: 70px;
}
/* line 7, ../sass/_about-us.scss */
section.about-us .team-worker {
  position: relative;
  cursor: pointer;
}
/* line 10, ../sass/_about-us.scss */
section.about-us .team-worker img {
  width: 100%;
}
/* line 14, ../sass/_about-us.scss */
section.about-us .co-worker_hover {
  opacity: 1;
  transition: opacity, .3s;
  position: absolute;
  top: 0;
  width: 91%;
  height: 100%;
  padding: 86% 0 0;
  background: url("../img/icons/about-us-icon.png") 98% 1.5% no-repeat, rgba(34, 34, 34, 0.5);
  border: 4px solid #000;
}
/* line 24, ../sass/_about-us.scss */
section.about-us .co-worker_hover .name,
section.about-us .co-worker_hover .position {
  color: #fff;
  text-align: center;
}
/* line 29, ../sass/_about-us.scss */
section.about-us .co-worker_hover .name {
  font-family: "BigJohn", sans-serif;
  font-size: 24px;
}
/* line 33, ../sass/_about-us.scss */
section.about-us .co-worker_hover .position {
  font-family: "AmbleBold", sans-serif;
  font-size: 18px;
}
/* line 38, ../sass/_about-us.scss */
section.about-us .co-worker_hidden {
  opacity: 0;
  transition: opacity, .3s;
}
/* line 42, ../sass/_about-us.scss */
section.about-us .team-apply {
  position: relative;
}
/* line 44, ../sass/_about-us.scss */
section.about-us .team-apply_description {
  position: absolute;
  border: 1px solid #000;
  top: 0;
  left: 4%;
  width: 92%;
  padding: 28% 0 0;
  height: 100%;
  text-align: center;
}
/* line 54, ../sass/_about-us.scss */
section.about-us .team-apply_title {
  position: relative;
  font-family: "BigJohn", sans-serif;
  font-size: 24px;
  width: 50%;
  margin: 0 auto 40px;
  padding-bottom: 40px;
}
/* line 61, ../sass/_about-us.scss */
section.about-us .team-apply_title:after {
  content: "";
  display: block;
  position: absolute;
  width: 86px;
  height: 2px;
  left: 22%;
  bottom: 0;
  background: #222;
}
/* line 72, ../sass/_about-us.scss */
section.about-us .team-apply_btn {
  display: inline-block;
  font-size: 24px;
  line-height: 54px;
  padding: 0 60px;
}
/* line 77, ../sass/_about-us.scss */
section.about-us .team-apply_btn:hover {
  padding: 0 55px;
  background: rgba(34, 34, 34, 0.3);
}

@media only screen and (max-width: 1199px) {
  /* line 45, ../sass/_media.scss */
  section.light-section.gray-section li {
    width: 33.333333%;
    padding-right: 70px;
    margin-bottom: 10px;
  }
  /* line 49, ../sass/_media.scss */
  section.light-section.gray-section li:nth-child(4) {
    margin-left: 17%;
  }

  /* line 54, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 89%;
    padding-top: 75%;
  }
  /* line 59, ../sass/_media.scss */
  section.about-us .team-apply_description {
    padding-top: 20%;
  }
  /* line 62, ../sass/_media.scss */
  section.about-us .team-apply_title {
    width: 70%;
  }
}
@media only screen and (max-width: 992px) {
  /* line 71, ../sass/_media.scss */
  section.light-section h2:after {
    left: 44%;
  }

  /* line 74, ../sass/_media.scss */
  section.light-section.gray-section li {
    padding-right: 46px;
  }

  /* line 77, ../sass/_media.scss */
  section.about-us {
    padding-bottom: 105px;
  }
  /* line 78, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 93%;
    padding-top: 85%;
  }
  /* line 83, ../sass/_media.scss */
  section.about-us .team-worker {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 950px) {
  /* line 92, ../sass/_media.scss */
  header .main-menu_nav {
    width: 70%;
  }
  /* line 94, ../sass/_media.scss */
  header .main-menu_nav li {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 900px) {
  /* line 104, ../sass/_media.scss */
  header .main-menu {
    margin-bottom: 180px;
  }
  /* line 106, ../sass/_media.scss */
  header .main-menu_btn {
    left: 49%;
  }
  /* line 109, ../sass/_media.scss */
  header .main-menu_nav {
    margin: 0 auto;
    left: 3%;
    top: 105px;
    transition: opacity .3s;
  }
  /* line 115, ../sass/_media.scss */
  header .main-menu .nav-hidden {
    left: 3%;
    transition: opacity .7s;
  }
  /* line 120, ../sass/_media.scss */
  header h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  /* line 124, ../sass/_media.scss */
  header .header-description {
    font-size: 18px;
    width: 66%;
  }
}
@media only screen and (max-width: 840px) {
  /* line 134, ../sass/_media.scss */
  header .main-menu_nav {
    width: 40%;
    margin-bottom: -35px;
  }
  /* line 137, ../sass/_media.scss */
  header .main-menu_nav a {
    font-size: 14px;
  }
  /* line 141, ../sass/_media.scss */
  header h1:after {
    left: 42%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 150, ../sass/_media.scss */
  section.about-us .co-worker_hover {
    width: 96%;
    padding-top: 100%;
  }
  /* line 153, ../sass/_media.scss */
  section.about-us .co-worker_hover .name {
    font-size: 35px;
    margin-bottom: 15px;
  }
  /* line 157, ../sass/_media.scss */
  section.about-us .co-worker_hover .position {
    font-size: 24px;
  }
  /* line 161, ../sass/_media.scss */
  section.about-us .team-apply_title {
    width: 30%;
    font-size: 40px;
    margin-bottom: 70px;
  }
  /* line 165, ../sass/_media.scss */
  section.about-us .team-apply_title:after {
    left: 30%;
  }
  /* line 169, ../sass/_media.scss */
  section.about-us .team-apply_btn {
    font-size: 30px;
    padding: 0 80px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 739px) {
  /* line 180, ../sass/_media.scss */
  section.light-section.gray-section li {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 0 !important;
    padding-right: 117px;
  }
  /* line 185, ../sass/_media.scss */
  section.light-section.gray-section li:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 640px) {
  /* line 193, ../sass/_media.scss */
  section.light-section.gray-section li {
    padding: 0 203px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 202, ../sass/_media.scss */
  header h1 {
    font-size: 26px;
    padding-bottom: 25px;
  }

  /* line 207, ../sass/_media.scss */
  section.light-section h2:after {
    left: 43%;
  }
}
@media only screen and (max-width: 444px) {
  /* line 215, ../sass/_media.scss */
  header .main-menu_nav {
    width: 48%;
  }

  /* line 219, ../sass/_media.scss */
  section.light-section h2 {
    font-size: 26px;
  }
  /* line 221, ../sass/_media.scss */
  section.light-section h2:after {
    left: 41%;
  }
}
@media only screen and (max-width: 370px) {
  /* line 230, ../sass/_media.scss */
  header .main-menu_nav {
    width: 56%;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
