@import "variables";

body {
  color: $h2-color;
}
.container {
  padding: 0 !important;
}
nav {
  font-size: 0;
  ul {
    margin: 0;
    display: table;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
  }
}