///* Smartphones (portrait and landscape) ----------- */
//@media only screen
//and (min-device-width : 320px)
//and (max-device-width : 480px) {
//  /* Styles */
//}
//
///* Smartphones (landscape) ----------- */
//@media only screen
//and (min-width : 321px) {
//  /* Styles */
//}
//
///* Smartphones (portrait) ----------- */
//@media only screen
//and (max-width : 320px) {
//  /* Styles */
//}

///* iPads (portrait and landscape) ----------- */
//@media only screen
//and (min-device-width : 768px)
//and (max-device-width : 1024px) {
//  /* Styles */
//}
//
///* iPads (landscape) ----------- */
//@media only screen
//and (min-device-width : 768px)
//and (max-device-width : 1024px)
//and (orientation : landscape) {
//  /* Styles */
//}
//
///* iPads (portrait) ----------- */
//@media only screen
//and (min-device-width : 768px)
//and (max-device-width : 1024px)
//and (orientation : portrait) {
//  /* Styles */
//}

@media only screen
and (max-width : 1199px) {
  section.light-section.gray-section li {
    width: 33.333333%;
    padding-right: 70px;
    margin-bottom: 10px;
    &:nth-child(4) {
      margin-left: 17%;
    }
  }
  section.about-us {
    .co-worker_hover {
      width: 89%;
      padding-top: 75%;
    }
    .team-apply {
      &_description {
        padding-top: 20%;
      }
    }
  }
}

@media only screen
and (max-width : 992px) {
  section.light-section.gray-section li {
    padding-right: 46px;
  }
  section.about-us {
    .co-worker_hover {
      width: 93%;
      padding-top: 85%;
    }
    padding-bottom: 105px;
    .team-worker{
      margin-bottom: 15px;
    }
  }
  .light-section_slider ol.carousel-indicators.slider-indicators {
    bottom: -10%;
  }
}

@media only screen
and (max-width : 991px) {
  .light-section .contact-info {
    background: linear-gradient(to top, #e4e4e4 61%, #f2f2f2 49%);
    padding: 120px 0;
    .our-location {
      margin-bottom: 60px;
      padding-left: 33%;
    }
  }
}

@media only screen
and (max-width : 950px) {
  header {
    .main-menu_nav {
      width: 70%;
      li {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen
and (max-width : 900px) {
  header {
    .main-menu {
      margin-bottom: 180px;
      &_btn {
        left: 49%;
      }
      &_nav {
        margin: 0 auto;
        left: 3%;
        top: 105px;
        transition: opacity .3s;
      }
      .nav-hidden {
        left: 3%;
        transition: opacity .7s;
      }
    }
    h1 {
      font-size: 40px;
      margin-bottom: 30px;
    }
    .header-description {
      font-size: 18px;
      width: 66%;
    }
  }
}

@media only screen
and (max-width : 840px) {
  header {
    .main-menu_nav {
      width: 40%;
      margin-bottom: -35px;
      a {
        font-size: 14px;
      }
    }
  }
}

@media only screen
and (max-width : 767px) {
  .portfolio_preview-hover {
    width: 95.9%;
    .title {
      font-size: 26px;
      margin-bottom: 40px;
    }
    .description {
      padding-bottom: 45px;
    }
  }
  .preview-hidden {
    display: none;
  }
  section.about-us {
    .co-worker_hover {
      width: 96%;
      padding-top: 100%;
      .name {
        font-size: 35px;
        margin-bottom: 15px;
      }
      .position {
        font-size: 24px;
      }
    }
    .team-apply {
      &_description {
        padding-top: 35%;
      }
      &_title {
        font-size: 40px;
        margin-bottom: 70px;
      }
    }
    .team-apply_btn {
      font-size: 30px;
      padding: 0 80px;
      line-height: 70px;
    }
  }
}

@media only screen
and (max-width : 739px) {
  section.light-section.gray-section li {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 0 !important;
    padding-right: 117px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen
and (max-width : 640px) {
  section.light-section.gray-section li {
    padding: 0 203px;
    width: 100%;
  }
}

@media only screen
and (max-width : 681px) {
  .light-section nav a {
    font-size: 12px;
    font-family: "BigJohn", sans-serif;
  }
}

@media only screen
and (max-width : 600px) {
  header {
    h1 {
      font-size: 26px;
      padding-bottom: 25px;
    }
  }
}

@media only screen
and (max-width : 500px) {
  section.about-us .co-worker_hover {
    width: 95%;
    padding-top: 90%;
    .name {
      font-size: 30px;
    }
    .position {
      font-size: 20px;
    }
  }
}

@media only screen
and (max-width : 444px) {
  header {
    .main-menu_nav {
      width: 48%;
    }
  }
  .dark-section .section-btn {
    font-size: 26px;
    line-height: 75px;
    padding: 0 40px;
  }
  section.light-section h2 {
    font-size: 26px;
  }
  section.light-section .contact-info .our-location {
    padding-left: 20%;
  }
  section.about-us .co-worker_hover {
    width: 94%;
  }
}

@media only screen
and (max-width : 400px) {
  section.about-us .co-worker_hover {
    width: 93%;
  }
  section .portfolio .section-btn.portfolio_btn {
    font-size: 20px;
    padding: 0 40px;
    &:hover {
      padding: 0 35px;
    }
  }
}

@media only screen
and (max-width : 370px) {
  header {
    .main-menu_nav {
      width: 56%;
    }
  }
}

///* Desktops and laptops ----------- */
//@media only screen
//and (min-width : 1224px) {
//  /* Styles */
//}
//
///* Large screens ----------- */
//@media only screen
//and (min-width : 1824px) {
//  /* Styles */
//}