@import "variables";

section {
  .section-btn {
    font-family: "AmbleBold", sans-serif;
    display: block;
    background: transparent;
    text-align: center;
    margin: 0 auto;
    border: 3px solid;
    transition: padding, .2s;
    &:hover {
      transition: padding, .3s;
    }
  }
}

section.light-section {
  padding: 120px 0;
  background: #fff;
  &.gray-section {
    background: $gray-bg;
    ul {
      display: block;
    }
    li {
      padding: 0 20px;
      width: 20%;
      margin: 0;
      font-size: 36px;
    }
    a {
      width: 100%;
      height: 50px;
      background: url("../img/clients.png")no-repeat;
      &.ggl {
        background-position: 0px 0px;
      }
      &.sams {
        background-position: -240px 0px;
      }
      &.flick {
        background-position: -475px 0px;
      }
      &.frsq {
        background-position: -718px 0px;
      }
      &.pint {
        background-position: -988px 0px;
      }
    }
  }
  h2 {
    font-size: 30px;
    font-family: "BigJohn", sans-serif;
    position: relative;
    margin: 0 0 70px;
    text-align: center;
    color: $h2-color;
    text-transform: uppercase;
    padding-bottom: 70px;
    &:after {
      display: block;
      content: "";
      width: 86px;
      height: 2px;
      position: absolute;
      left: 46%;
      bottom: 0;
      background: $h2-color;
    }
  }
  nav {
    margin: 0 0 85px;
    ul {
      margin: 0 auto;
    }
    li {
      margin-right: 30px;
      li:last-child {
        margin-right: 0;
      }
    }
    button {
      background: transparent;
      border: none;
      font-size: 18px;
      font-family: "SlimJoe", sans-serif;
      font-weight: 300;
      padding: 0 5px;
      color: $h2-color;
      text-transform: uppercase;
    }
    button:hover,
    button:focus,
    button.active-button {
      outline: none;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .section-description {
    font-size: 22px;
    text-align: center;
    color: $h2-color;
    font-family: "AmbleLight", sans-serif;
    margin: 0 auto;
    width: 55%;
  }
}

section.dark-section {
  padding: 200px 0;
  .section-btn {
    position: relative;
    z-index: 10;
    font-size: 30px;
    color: #fff;
    line-height: 90px;
    padding: 0 80px;
    border-color: #fff;
    &:hover {
      background: rgba(255,255,255, 0.15);
      padding: 0 70px;
    }
  }
  &.section-2,
  &.section-4,
  &.section-9 {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($h2-color, .6);
      z-index: 2;
    }
  }
  &.section-2 {
    background: url('../img/section-bg-2.png') center center no-repeat;
  }
  &.section-4 {
    background: url('../img/section-bg-4.png') center center no-repeat;
  }
  &.section-9 {
    background: url('../img/section-bg-9.png') center center no-repeat;
  }
}