@import "variables";

section {
  .section-btn {
    font-family: "AmbleBold", sans-serif;
    background: transparent;
    text-align: center;
    border: 3px solid;
    transition: padding, .2s;
    &:hover {
      transition: padding, width, .3s;
      background: rgba($h2-color, .2);
    }
  }
}

.light-section {
  padding: 120px 0;
  background: #fff;
  &.gray-section {
    background: $gray-bg;
    ul {
      display: block;
    }
    li {
      padding: 0 20px;
      width: 20%;
      margin: 0;
      font-size: 36px;
    }
    a {
      width: 100%;
      height: 50px;
      background: url("../img/clients.png")no-repeat;
      &.ggl {
        background-position: 0px 0px;
      }
      &.sams {
        background-position: -240px 0px;
      }
      &.flick {
        background-position: -475px 0px;
      }
      &.frsq {
        background-position: -718px 0px;
      }
      &.pint {
        background-position: -988px 0px;
      }
    }
  }
  h2 {
    font-size: 30px;
    font-family: "BigJohn", sans-serif;
    position: relative;
    margin: 0 0 70px;
    text-align: center;
    color: $h2-color;
    text-transform: uppercase;
    padding-bottom: 70px;
    &:after {
      display: block;
      content: "";
      width: 86px;
      height: 2px;
      position: absolute;
      left: 46%;
      bottom: 0;
      background: $h2-color;
    }
  }
  nav {
    margin: 0 0 85px;
    ul {
      margin: 0 auto;
    }
    li {
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    button {
      background: transparent;
      border: none;
      font-size: 18px;
      font-family: "SlimJoe", sans-serif;
      font-weight: 300;
      padding: 0 5px;
      color: $h2-color;
      text-transform: uppercase;
    }
    button:hover,
    button:focus,
    button.active-button {
      outline: none;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .section-description {
    font-size: 22px;
    text-align: center;
    color: $h2-color;
    font-family: "AmbleLight", sans-serif;
    margin: 0 auto;
    width: 55%;
  }
  &.advantage-section .section-description,
  &.contact-section .section-description {
    margin-bottom: 100px;
  }
  &_slider {
    text-align: center;
    .slider-advantages {
      font-family: "AmbleRegular";
      img {
        margin-bottom: 40px;
      }
      &_title {
        font-size: 24px;
        margin-bottom: 35px;
      }
      &_description {
        font-size: 16px;
        width: 80%;
        margin: 0 auto;
      }
    }
    ol.carousel-indicators.slider-indicators {
      bottom: -20%;
      margin: 0;
      left: 0;
      width: 100%;
      li {
        background: $gray-element;
        width: 12px;
        height: 12px;
        &.active {
          background: $accent-color;
        }
      }
    }
  }
  .contact-info {
    background: linear-gradient(to left, #e4e4e4 70%, #f2f2f2 30%);
    padding: 120px 0;
    .our-location {
      &_title {
        font-size: 24px;
        font-family: "BigJohn", sans-serif;
        margin-bottom: 40px;
      }
      &_description {
        font-size: 22px;
        font-family: "AmbleLight", sans-serif;
        font-style: italic;
        margin-bottom: 40px;
      }
    }
    nav,
    ul {
      margin: 0;
    }
    li {
      margin-right: 25px;
    }
    li a {
      font-size: 14px;
      width: 25px;
      height: 25px;
      background: url("../img/social-sprite.png") no-repeat;
    }
    li a.tw {
      background-position: 0px 2px;
    }
    li a.fb {
      background-position: 0px -30px;
    }
    li a.ln {
      background-position: 0px -64px;
    }
    li a.vm {
      background-position: 0px -95px;
    }
    li a.be {
      background-position: 0px -123px;
    }
  }
  .contact-form {
    &_input {
      position: relative;
      margin-bottom: 110px;
      &:last-child {
        margin-bottom: 0;
      }
      label,
      input[type="text"] {
        font-size: 18px;
        font-style: italic;
        color: $contact-txt;
        font-family: "AmbleLight", sans-serif;
      }
      label {
        position: absolute;
        left: 30px;
        top: -10px;
      }
      .form-label_hidden {
        opacity: 0;
        transition: opacity, .2s;
      }
    }
    input[type="text"] {
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid $contact-txt;
      &:focus {
        outline: none;
      }
    }
    &_btn {
      margin: 0 auto;
      display: block;
      width: 100%;
      line-height: 60px;
      font-size: 24px;
      font-family: "AmbleBold", sans-serif;
      &:hover {
        width: 90%;
      }
    }
  }
}

.dark-section {
  text-align: center;
  padding: 200px 0;
  .section-btn {
    position: relative;
    z-index: 10;
    font-size: 30px;
    color: #fff;
    line-height: 90px;
    padding: 0 80px;
    border-color: #fff;
    &:hover {
      background: rgba(255,255,255, 0.15);
      padding: 0 70px;
    }
  }
  &.video-section {
    padding: 0;
    iframe {
      width: 100%;
    }
  }
  &.section-2,
  &.section-4,
  &.section-9 {
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($h2-color, .6);
      z-index: 2;
    }
  }
  &.section-2 {
    background: url('../img/section-bg-2.png') center center no-repeat;
  }
  &.section-4 {
    background: url('../img/section-bg-4.png') center center no-repeat;
  }
  &.section-9 {
    background: url('../img/section-bg-9.png') center center no-repeat;
  }
}